<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename= 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename= 'css/theme.css')}}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('day')}}">Food Tracker</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{url_for('home')}}">Home</a></li>
              <li><a href="{{url_for('addfood')}}">Add Food Item</a></li>
            </ul>
          </div>
        </div>
    </nav>
    {%block content%}


    {%endblock%}
</body>
</html>


